   {{!-- <!-- Modal -->
<div class="modal fade show in" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
   <!-- Modal --> --}}


 <div class="order">
                <div class="container">
                    <div class="row justify-content-center">
                        <!-- Title Content Start -->
                        <div class="col-sm-12 commontop text-center">
                            <h4>Time is valuable ! Save it !</h4>
                            <div class="divider style-1 center">
                                <span class="hr-simple left"></span>
                                <i class="icofont icofont-ui-press hr-icon"></i>
                                <span class="hr-simple right"></span>
                            </div>
                            <p>Order food online and we will let you know when its ready to pick up.</p>
                        </div>
                        <!-- Title Content End -->
                        <div class="col-lg-7 col-sm-12">
                            <!-- Search Form Start -->
                            <form class="form-horizontal search-icon" method="post">
                                <!-- <fieldset> -->
                                    <!-- <div class="form-group">
                                        <input name="s" value="" placeholder="Search keyword"  class="form-control" type="text">
                                    </div> -->
                                    <!-- <button type="submit" value="submit" class="btn btn-theme"><i class="icofont icofont-search"></i>Search</button>
                                </fieldset> -->
                            </form>
                            <!-- Search Form End -->
                            <ul class="list-inline text-center">
                                <li class="list-inline-item">
                                    <i class="icofont icofont-fast-food"></i>
                                    <p>Select Food</p>
                                </li>
                                <li class="list-inline-item">
                                    <i class="icofont icofont-food-basket"></i>
                                    <p>Order Food</p>
                                </li>
                                <li class="list-inline-item">
                                    <i class="icofont icofont-runner-alt-1"></i>
                                    <p>Take Out</p>
                                </li>
                            </ul>
                            <img src="/assets/img/lines.png" alt="line" title="line" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Order End  -->

            <!-- Popular Dishes Start -->
          <div style="display: none" class="dishes">
            <div class="container">
              <div class="row">
                  <div class="col-sm-12 commontop text-center">
                          <h4>Your Selections</h4>
                          <div class="divider style-1 center">
                              <span class="hr-simple left"></span>
                              <i class="icofont icofont-ui-press hr-icon"></i>
                              <span class="hr-simple right"></span>
                          </div>
                    </div>
                <div class="card-deck" id="addCart"></div>
                <input type="submit" value="CHECKOUT" class="btn btn-theme btn-md btn-wide checkoutbtn">

              </div>

            </div>
          </div>
<!-- Can be deleted -->
            {{!-- <div class="dishes">
              <div class="container">
                <div class="row">
                    <div class="col-sm-12 commontop text-center">
                            <h4>Your Selections</h4>
                            <div class="divider style-1 center">
                                <span class="hr-simple left"></span>
                                <i class="icofont icofont-ui-press hr-icon"></i>
                                <span class="hr-simple right"></span>
                            </div>
                        </div>
<a class="add">
                    <div class="col-sm-3">
                                    <!-- Box Start -->
                                    <div class="box">
                                      <button style="margin-left: 40%; margin-right: auto%;" class="btn"><i class="icofont icofont-ui-close"></i></button>
                                        <a href="#"><img src="/assets/img/pizza/fathead.jpg" alt="image" title="image" style="width: 100%;" class="img-fluid" ></a>
                                        <div style="margin-left: 0px;" class="caption">
                                            <h4>Fat Head</h4>
                                            <span>Bacon/Sausage/Cheese.</span>
                                            <p>$8.00</p>
                                        </div>
                                    </div>
                                    <!-- Box End -->
                                </div>

                    <div class="col-sm-3">
                                                        <!-- Box Start -->
                      <div class="box">
                        <button style="margin-left: 40%; margin-right: auto%;" class="btn"><i class="icofont icofont-ui-close"></i></button>
                          <a href="#"><img src="/assets/img/pizza/fathead.jpg" alt="image" style="width: 100%;" title="image" class="img-fluid" ></a>
                          <div style="margin-left: 0px;" class="caption">
                              <h4>Fat Head</h4>
                              <span>Bacon/Sausage/Cheese.</span>
                              <p>$8.00</p>
                          </div>
                      </div>
                    </div>
                                    <!-- Box End -->
                    </div>
                    </a>
              </div>
              </div> --}}
{{!-- <div class="dishes">
              <div class="container">
                <div class="row">
                    <div class="col-sm-12 commontop text-center">
                        <h4>Your Selections</h4>
                        <div class="divider style-1 center">
                            <span class="hr-simple left"></span>
                            <i class="icofont icofont-ui-press hr-icon"></i>
                            <span class="hr-simple right"></span>
                        </div>
                    </div>
<div class="card-deck" id="addCart"></div>

                </div>
              </div>
</div> --}}

<!-- Can be deleted -->



            <!-- Popular Dishes End -->
                        <!-- Food Menu Start -->
            <div class="menu">
                <div class="menu-inner">
                    <div class="container">
                        <div class="row ">
                            <!-- Title Content Start -->
                            <div class="col-sm-12 col-xs-12 commontop text-center">
                                <h4> Stations and Menu</h4>
                                <div class="divider style-1 center">
                                    <span class="hr-simple left"></span>
                                    <i class="icofont icofont-ui-press hr-icon"></i>
                                    <span class="hr-simple right"></span>
                                </div>
                                <p>Select from the Food Stations available.</p>
                            </div>
                            <!-- Title Content End -->
                            <div class="col-sm-12 col-xs-12">
                                <!--  Menu Tabs Start  -->
                                <ul class="nav nav-tabs list-inline">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#Pizza" data-toggle="tab" aria-expanded="true">Pizza</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Burger" data-toggle="tab" aria-expanded="false">Burger</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Sandwiches" data-toggle="tab" aria-expanded="false">Sandwiches</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Asian" data-toggle="tab" aria-expanded="false">Asian</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Salad" data-toggle="tab" aria-expanded="false">Salad</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Mexican" data-toggle="tab" aria-expanded="false">Mexican</a>
                                    </li>
                                </ul>
<!--  Menu Tabs Content Start  -->
<div  class="tab-content">
  <!--  Menu Tab Start  -->
  <div class="tab-pane show active" id="Pizza">
      <div class="row">
          <div style="margin-left: auto; margin-right: auto;" class="col-md-6 col-sm-6 col-xs-12">
              <!-- Box Start -->
               {{#each data}}
               {{!-- {{#if catogery === "Pizza" }} --}}
               {{!-- {{#if ( catogery '===' 'catogery') }} --}}
                {{#eq catogery "Pizza" }}
              <div class="box">
                  <div class="image">
                      <img src="{{img_loc}}" alt="image" title="image" class="img-fluid" />
                  </div>
                  <div class="caption">
                      <h4>{{menu_title}}</h4>
                      <p class="des">{{menu_des}}</p>
                      <span>{{menu_text}}</span>
                      {{!-- <div class="price">${{price}}</div> --}}
                      <button type="submit" data-title="{{menu_title}}" data-price="{{price}}" data-utitle="{{unique_title}}" data-des="{{menu_des}}" data-img_loc="{{img_loc}}" style="float:right" class="btn-danger btn btn-md price"><span style="color: white">${{price}}</span></button>
                  </div>
              </div>

              <!-- Box End -->
              {{!-- {{else}} --}}
              {{/eq}}
               {{/each}}
          {{!-- </div>
      </div>
  </div> --}}
              <!-- Box End -->
          </div>
      </div>
  </div>
  <!--  Menu Tab End  -->

  <!--  Menu Tab Start  -->
  <div class="tab-pane" id="Burger">
      <div class="row">
          <div style="margin-left: auto; margin-right: auto;" class="col-md-6 col-sm-6 col-xs-12">
              <!-- Box Start -->
               {{#each data}}
               {{!-- {{#if catogery === "Pizza" }} --}}
               {{!-- {{#if ( catogery '===' 'catogery') }} --}}
                {{#eq catogery "Burger" }}
              <div class="box">
                  <div class="image">
                      <img  src="{{img_loc}}" alt="image" title="image" class="img-fluid" />
                  </div>
                  <div class="caption">
                      <h4>{{menu_title}}</h4>
                      <p class="des">{{menu_des}}</p>
                      <span>{{menu_text}}</span>

                      {{!-- <div class="price">${{price}}</div> --}}
                      <button type="submit" data-title="{{menu_title}}" data-price="{{price}}" data-utitle="{{unique_title}}" data-des="{{menu_des}}" data-img_loc="{{img_loc}}" style="float:right" class="btn-danger btn btn-md price"><span style="color: white">${{price}}</span></button>
                  </div>
              </div>

              <!-- Box End -->
              {{!-- {{else}} --}}
              {{/eq}}
               {{/each}}
          {{!-- </div>
      </div>
  </div> --}}
              <!-- Box End -->
          </div>
      </div>
  </div>
  <!--  Menu Tab End  -->
<!--  Menu Tab Start  -->
  <div class="tab-pane" id="Sandwiches">
      <div class="row">
          <div style="margin-left: auto; margin-right: auto;" class="col-md-6 col-sm-6 col-xs-12">
              <!-- Box Start -->
               {{#each data}}
               {{!-- {{#if catogery === "Pizza" }} --}}
               {{!-- {{#if ( catogery '===' 'catogery') }} --}}
                {{#eq catogery "Sandwich" }}
              <div class="box">
                  <div class="image">
                      <img  src="{{img_loc}}" alt="image" title="image" class="img-fluid" />
                  </div>
                  <div class="caption">
                      <h4>{{menu_title}}</h4>
                      <p class="des">{{menu_des}}</p>
                      <span>{{menu_text}}</span>
                      {{!-- <div class="price">${{price}}</div> --}}
                      <button type="submit" data-title="{{menu_title}}" data-price="{{price}}" data-utitle="{{unique_title}}" data-des="{{menu_des}}" data-img_loc="{{img_loc}}" style="float:right" class="btn-danger btn btn-md price"><span style="color: white">${{price}}</span></button>
                  </div>
              </div>

              <!-- Box End -->
              {{!-- {{else}} --}}
              {{/eq}}
               {{/each}}
          {{!-- </div>
      </div>
  </div> --}}
              <!-- Box End -->
          </div>
      </div>
  </div>
  <!--  Menu Tab End  -->
  <!--  Menu Tab Start  -->
  <div class="tab-pane" id="Asian">
      <div class="row">
          <div style="margin-left: auto; margin-right: auto;" class="col-md-6 col-sm-6 col-xs-12">
              <!-- Box Start -->
               {{#each data}}
               {{!-- {{#if catogery === "Pizza" }} --}}
               {{!-- {{#if ( catogery '===' 'catogery') }} --}}
                {{#eq catogery "Asian" }}
              <div class="box">
                  <div class="image">
                      <img  src="{{img_loc}}" alt="image" title="image" class="img-fluid" />
                  </div>
                  <div class="caption">
                      <h4>{{menu_title}}</h4>
                      <p class="des">{{menu_des}}</p>
                      <span>{{menu_text}}</span>
                      {{!-- <div class="price">${{price}}</div> --}}
                      <button type="submit" data-title="{{menu_title}}" data-price="{{price}}" data-utitle="{{unique_title}}" data-des="{{menu_des}}" data-img_loc="{{img_loc}}" style="float:right" class="btn-danger btn btn-md price"><span style="color: white">${{price}}</span></button>
                  </div>
              </div>

              <!-- Box End -->
              {{!-- {{else}} --}}
              {{/eq}}
               {{/each}}
          {{!-- </div>
      </div>
  </div> --}}
              <!-- Box End -->
          </div>
      </div>
  </div>
  <!--  Menu Tab End  -->
  <!--  Menu Tab Start  -->
  <div class="tab-pane" id="Salad">
      <div class="row">
          <div style="margin-left: auto; margin-right: auto;" class="col-md-6 col-sm-6 col-xs-12">
              <!-- Box Start -->
               {{#each data}}
               {{!-- {{#if catogery === "Pizza" }} --}}
               {{!-- {{#if ( catogery '===' 'catogery') }} --}}
                {{#eq catogery "Salad" }}
              <div class="box">
                  <div class="image">
                      <img  src="{{img_loc}}" alt="image" title="image" class="img-fluid" />
                  </div>
                  <div class="caption">
                      <h4>{{menu_title}}</h4>
                      <p class="des">{{menu_des}}</p>
                      <span>{{menu_text}}</span>
                      {{!-- <div class="price">${{price}}</div> --}}
                      <button type="submit" data-title="{{menu_title}}" data-price="{{price}}" data-utitle="{{unique_title}}" data-des="{{menu_des}}" data-img_loc="{{img_loc}}" style="float:right" class="btn-danger btn btn-md price"><span style="color: white">${{price}}</span></button>
                  </div>
              </div>

              <!-- Box End -->
              {{!-- {{else}} --}}
              {{/eq}}
               {{/each}}
          {{!-- </div>
      </div>
  </div> --}}
              <!-- Box End -->
          </div>
      </div>
  </div>
  <!--  Menu Tab End  -->
<!--  Menu Tab Start  -->
  <div class="tab-pane" id="Mexican">
      <div class="row">
          <div style="margin-left: auto; margin-right: auto;" class="col-md-6 col-sm-6 col-xs-12">
              <!-- Box Start -->
               {{#each data}}
               {{!-- {{#if catogery === "Pizza" }} --}}
               {{!-- {{#if ( catogery '===' 'catogery') }} --}}
                {{#eq catogery "Mexican" }}
              <div class="box">
                  <div class="image">
                      <img  src="{{img_loc}}" alt="image" title="image" class="img-fluid" />
                  </div>
                  <div class="caption">
                      <h4>{{menu_title}}</h4>
                      <p class="des">{{menu_des}}</p>
                      <span>{{menu_text}}</span>
                      {{!-- <div class="price">${{price}}</div> --}}
                      <button type="submit" data-title="{{menu_title}}" data-price="{{price}}" data-utitle="{{unique_title}}" data-des="{{menu_des}}" data-img_loc="{{img_loc}}" style="float:right" class="btn-danger btn btn-md price"><span style="color: white">${{price}}</span></button>
                  </div>
              </div>

              <!-- Box End -->
              {{!-- {{else}} --}}
              {{/eq}}
               {{/each}}
          {{!-- </div>
      </div>
  </div> --}}
              <!-- Box End -->
          </div>
      </div>
  </div>

  <!--  Menu Tab End  -->
                           </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
{{!-- ==============modal for star Rating=========== --}}

<!-- Button trigger modal -->
